<%- include('../partials/head') %>
</head>
<style>
  .containers {
    display: flex;
    gap: 20px;
  }
  .container-size{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto
  }
</style>
<body>
  <%- include('../partials/nav') %>

  <div class="containers">
  <%- include('../partials/sidebar') %>
  <div class="container my-5">
    <div class="row g-4 shadow-lg p-4 rounded-4 container-size">
      <h2 class="text-left text-danger mb-4">
        Hostel Details - <%= home.houseName %>
      </h2>
      <div class="col-md-6">
        <img src="/<%= home.photoUrl %>" alt="<%= home.name %>" class="img-fluid rounded shadow">
      </div>

      <div class="col-md-6">      
        <div class="mb-4">
          <h4 class="fw-bold">Description</h4>
          <p class="text-muted" style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque provident adipisci delectus, officia illo numquam vitae...
          </p>
        </div>
        
        <div class="mb-3">
          <h5 class="fw-bold">Location</h5>
          <p><i class="bi bi-geo-alt-fill text-primary"></i> <%= home.location %></p>
        </div>

        <div class="mb-3">
          <h5 class="fw-bold">Price</h5>
          <p class="text-success fs-5 fw-semibold">Rs <%= home.price %> / Month</p>
        </div>

        <div class="mb-3">
          <h5 class="fw-bold">Rating</h5>
          <p class="mb-0"><span class="text-warning fs-4">★</span> <%= home.rating %> / 5</p>
        </div>
        <a href="../../uploads/file/rules.pdf" download class="btn btn-primary">Download Hostel Rule's</a>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
</body>
</html>
